* {
  margin: 0px;
}


.navbar {
  flex: 1;
  align-self: stretch;
  max-height: 50px;
  border: 1px solid transparent;
  padding: 5px;
  background-color: #f09f7d;
  font-family: 'Segoe UI Light';
  text-align: center;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self:center;
  justify-content:center;
  align-items:flex-start;
  overflow:auto;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:flex-start;
}

.note {
  position: relative;
  display:flex;
  flex-direction: column;
  flex: 1 1 150px;
  margin: 5px;
  padding: 5px;
  max-width: 300px;
  border: 2px solid black;
  border-radius: 5px;
  align-self:flex-start;
  justify-self: center;
  background-color: #f2d974;
  overflow: auto;
}

.note p {
  white-space: pre-wrap;
}

.note-controls {
  flex:0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.note-controls > form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 90%;
}

.note-controls > form > textarea {
  width: 200px;
  height: 150px;
}

.note-controls > button {
  align-self: stretch;
  max-height: 25px;
  height: 10%;
}
.no-notes-placeholder {
  max-height: 30vh;
}

/* for hiding scrollbars */
/* for webkit based browsers, (chrome, opera, etc) */
.note::-webkit-scrollbar {
  display: none;
}

/* for _other_ browsers */
.note {
  scrollbar-width: none; /*Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

@media only screen and (min-width: 768px) {
  body {
    font-size:16px;
  }

  .note-controls {
    flex: 0;
  }

  .content {
    max-width: 768px;
  }
}
@media only screen and (max-width: 400px) {
  body {
    font-size: 14px;
  }

  .note-controls {
    flex: 0.5;
    overflow:auto;
  }

  
  .navbar {
    width: 100%;
    padding-bottom: 5px;
    max-height: 40px;
  }
}


.note-editing > input, textarea{
  background-color: transparent;
  box-shadow: none;
}

.note-editing > textarea {
  overflow: auto;
  min-height: 140px;
  
}

.note-editing > textarea::-webkit-scrollbar {
  display: none;
}